# Ignorar ambiente virtual
venv/
env/

# Ignorar banco de dados local
db.sqlite3

# Ignorar arquivos compilados do Python
__pycache__/
*.py[cod]

# Ignorar uploads de mídia (opcional, mas recomendado)
mediafiles/

# Ignorar configurações do VS Code
.vscode/